<!DOCTYPE html>
<html lang="en">
<head>
	с
	<title>Form</title>
	<link rel="stylesheet" href="/static/style1.css">
</head>
<body>
	

	
	<div class="form">
		<h1>Вход</h1>
		<div class="input-form">
			<input id="login" type="text" placeholder="Логин"/>
		</div>
		<div class="input-form">
			<input id="password" type="text" placeholder="Пароль"/>
		</div>


		<div class="input-form">
			<a class="nav__link active" href="chat">Войти</a>
			<a class="nav__link active" href="registr2">Регистрация</a>	
		</div>
	</div>

</body>
</html>